<!-- launch file for Yonah main SMS Telemetry Node on Bone as a standalone (for testing purposes)-->

<launch>

    <arg name="identifiers_file" default="$(env HOME)/identifiers.json" />
    <arg name="ground_ids" default="[1]" />
    <arg name="self_id" default="1" />
    <arg name="is_air" default="True" />

    <!--Various regular payload intervals in seconds-->
    <arg name="interval_1" default="10"/>
    <arg name="interval_2" default="60"/>

    <!-- despatcher arguments -->
    <arg name="link_select" default="0" />

    <!-- screen = output to roslaunch screen for debug; log = log to rosout-->
    <arg name="log_output" default="screen"/>

    <!-- hostname and IP of onboard cellular router -->
    <arg name="router_username" default="root" />
    <arg name="router_ip" default="192.168.1.1" />

    <!-- sms_link node -->
    <node pkg="sms" type="sms_link.py" name="sms_link"
    respawn="true" respawn_delay="3" output="$(arg log_output)">
        <param name="router_username" value="$(arg router_username)" />
        <param name="router_ip" value="$(arg router_ip)" />
    </node>

    <node pkg="identifiers" type="identifiers_server" name="identifiers_server" respawn="true" respawn_delay="3" output="$(arg log_output)" >
        <param name="identifiers_file" value="$(arg identifiers_file)" />
        <param name="is_air" value="$(is_air)" />
        <param name="self_id" value="$(arg self_id)" />
        <rosparam param="valid_ids" subst_value="True">$(arg ground_ids)</rosparam>
    </node>

    <!-- air_despatcher node -->
    <node pkg="despatcher" type="air_despatcher.py" name="air_despatcher"
    respawn="true" respawn_delay="3" output="$(arg log_output)">
        <rosparam param="ground_ids" subst_value="True">$(arg ground_ids)</rosparam>x
        <param name="interval_1" value="$(arg interval_1)" />
        <param name="interval_2" value="$(arg interval_2)" />
        <param name="link_select" value="$(arg link_select)" />
    </node>

</launch>
