<!-- 
Copyright (C) 2020 Rumesh Sudhaharan

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->


<launch>
	<arg name="tdlib_auth_dir" default="/home/ubuntu/.tdlib_air"/>
	<arg name="log_output" default="screen"/>

	<arg name="identifiers_file"  default="test_identifiers_2.json" />
	<arg name="ground_ids" default="[1]" />
	<arg name="self_id" default="1" />
	<arg name="is_air" default="True" />

	<!--Various regular payload intervals in seconds-->
    <arg name="interval_1" default="10"/>
    <arg name="interval_2" default="60"/>

	<node pkg="telegram" type="telegram_link" name="telegram_link" respawn="true" respawn_delay="3" output="$(arg log_output)" >
		<param name="identifiers_file" value="$(arg identifiers_file)" />
		<param name="tdlib_auth_dir" value="$(arg tdlib_auth_dir)" />
		<param name="is_air" value="$(arg is_air)" />
		<param name="self_id" value="$(arg self_id)" />
		<rosparam param="valid_ids" subst_value="True">$(arg ground_ids)</rosparam>
	</node>

	<!-- air despatcher node -->
	<node pkg="despatcher" type="air_despatcher.py" name="air_despatcher" respawn="true" respawn_delay="3" output="$(arg log_output)">
		<rosparam param="ground_ids" subst_value="True">$(arg ground_ids)</rosparam>
		<param name="interval_1" value="$(arg interval_1)" />
		<param name="interval_2" value="$(arg interval_2)" />
	</node>
</launch>
