<!-- 
Copyright (C) 2020 Rumesh Sudhaharan

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->


<launch>
	<arg name="tdlib_auth_dir" default="$(env HOME)/.tdlib_gnd"/>
	<arg name="log_output" default="screen"/>
  
	<arg name="identifiers_file" default="$(env HOME)/Sync/identifiers.json" />
	<arg name="valid_ids_file" default="$(env HOME)/.valid_ids" />
	<arg name="self_id_file" default="$(env HOME)/.self_id" />
	<arg name="is_air" default="False" />
	<arg name="link_select" default="0" />


	<node pkg="telegram" type="telegram_link" name="telegram_link" respawn="true" respawn_delay="3" output="$(arg log_output)" >
		<param name="tdlib_auth_dir" value="$(arg tdlib_auth_dir)" />
	</node>

	<node pkg="identifiers" type="identifiers_server" name="identifiers_server" respawn="true" respawn_delay="3" output="$(arg log_output)" >
		<param name="identifiers_file" value="$(arg identifiers_file)" />
		<param name="is_air" value="$(arg is_air)" />
		<param name="self_id_file" value="$(arg self_id_file)" />
		<param name="valid_ids_file" value="$(arg valid_ids_file)" />
	</node>	

	<!-- ground despatcher node -->
	<node pkg="despatcher" type="gnd_despatcher.py" name="gnd_despatcher" respawn="true" respawn_delay="3" output="$(arg log_output)">
		<param name="link_select" value="$(arg link_select)" />
	</node>
	
	<node name="yonah_rqt" pkg="rqt_gui" type="rqt_gui" respawn="true" respawn_delay="3" output="log">
		</node>

	<!-- <node name="timeout" pkg="despatcher" type="timeout.py" respawn="true" respawn_delay="3" output="log">
    </node> -->
</launch>
