<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- example launch script for ArduPilot based FCU's -->

	<arg name="fcu_url" default="tcp://192.168.1.128:5000" />
	<arg name="gcs_url" default="udp://@localhost:5001" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />
	<arg name="fcu_protocol" default="v2.0" />
	<arg name="respawn_mavros" default="true" />

	<!-- Params for air_data-->
	<arg name="svr_name" default="ubuntu" />
	<arg name="svr_ip" default="18.138.24.228" />
	<arg name="aircraft" default="5" />

	<!-- Params for air_sms-->
	<arg name="GCS_no" default="'12345678'"/>
	<arg name="whitelist" default="$(find air_sms)/src/whitelist.txt"/>
	<arg name="short_interval" default="10"/>
    <arg name="long_interval" default="300"/>

	<include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find mavros)/launch/apm_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find mavros)/launch/apm_config.yaml" />

		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
		<arg name="fcu_protocol" value="$(arg fcu_protocol)" />
		<arg name="respawn_mavros" default="$(arg respawn_mavros)" />
	</include>

	<include file="$(find air_data)/launch/air_data.launch">
		<arg name="svr_name" default="$(arg svr_name)" />
		<arg name="svr_ip" default="$(arg svr_ip)" />
		<arg name="aircraft" value="$(arg aircraft)" />
	</include>

	<include file="$(find air_sms)/launch/air_sms.launch">
		<arg name="GCS_no" value="$(arg GCS_no)"/>
		<arg name="whitelist" value="$(arg whitelist)"/>
		<arg name="short_interval" value="$(arg short_interval)"/>
		<arg name="long_interval" value="$(arg long_interval)"/>
		<arg name="log_output" value="$(arg log_output)"/>
	</include>

</launch>
