<!-- launch file for Yonah's Iridium Short-Burst-Data (SBD) service (for testing purposes)-->

<launch>

    <!-- screen = output to roslaunch screen for debug; log = log to rosout-->
    <arg name="log_output" default="screen"/>

    <!-- Sleep interval between checks for MO msg -->
    <arg name="interval_3" default="5"/>

    <!-- Serial port that Rockblock is connected to-->
    <arg name="portID" default="/dev/ttyUSB0"/>

    <!-- Which link we are using -->
    <arg name="link_select" default="2" />

    <!-- 1 = Comms through server, 0 = Comms through gnd Rockblock -->
    <arg name="thr_server" default="1" />

    <!-- Identifiers -->
    <arg name="identifiers_file" default="$(env HOME)/identifiers.json" />
    <arg name="air_ids" default="[1,2]" />
    <arg name="self_id" default="1" />
    <arg name="is_air" default="False" />

    <!-- sbd link node -->
    <node pkg="sbd" type="sbd_gnd_link.py" name="sbd_gnd_link"
    respawn="true" respawn_delay="3" output="$(arg log_output)">
        <param name="interval" value="$(arg interval_3)" />
        <param name="portID" value="$(arg portID)" />
        <param name="thr_server" value="$(arg thr_server)" />
        <param name="self_id" value="$(arg self_id)" />
    </node>

    <!-- identifiers service -->
    <node pkg="identifiers" type="identifiers_server" name="identifiers_server" output="$(arg log_output)" >
        <param name="identifiers_file" value="$(arg identifiers_file)" />
        <param name="is_air" value="$(arg is_air)" />
        <param name="self_id" value="$(arg self_id)" />
        <rosparam param="valid_ids" subst_value="True">$(arg air_ids)</rosparam>
    </node>

    <!-- ground_despatcher node -->
    <node pkg="despatcher" type="gnd_despatcher.py" name="gnd_despatcher"
    respawn="true" respawn_delay="3" output="$(arg log_output)">
        <param name="self_id" value="$(arg self_id)" />
        <!-- <rosparam param="air_ids" subst_value="True">$(arg air_ids)</rosparam> -->
        <param name="link_select" value="$(arg link_select)" />
    </node>

    <!-- gnd statustext handler node -->
	<node pkg="statustext" type="gnd_statustext.py" name="gnd_statustext" 
	respawn="true" respawn_delay="3" output="$(arg log_output)">
	</node>

    <!-- ground test node -->
    <node pkg="despatcher" type="gndtest.py" name="gnd_test"
    respawn="true" respawn_delay="3" output="$(arg log_output)">
    </node>

    <!-- rqt node -->
	<!-- <node name="rqt_mypkg" pkg="rqt_gui" type="rqt_gui"
	respawn="true" respawn_delay="3" output="$(arg log_output)">
	</node> -->

</launch>
