<!-- launch file for Yonah's Iridium Short-Burst-Data (SBD) service (for testing purposes)-->

<launch>

    <!-- screen = output to roslaunch screen for debug; log = log to rosout-->
    <arg name="log_output" default="screen"/>

    <!-- Serial port that Rockblock is connected to-->
    <arg name="portID" default="/dev/ttyUSB0"/>

    <!-- Rockblock serial no of ourselves and the client-->
    <arg name="own_serial" default="12345"/>
    <arg name="client_serial" default="12345"/>

    <!-- Sleep interval between SBD mailbox checks -->
    <arg name="interval_1" default="5"/>
    <arg name="interval_2" default="5"/>
    <arg name="interval_3" default="1"/>

    <!-- sbd link node -->
    <node pkg="sbd" type="sbd_air_link.py" name="sbd_air_link"
    respawn="true" respawn_delay="3" output="$(arg log_output)">
        <param name="portID" value="$(arg portID)" />
        <param name="own_serial" value="$(arg own_serial)" />
        <param name="client_serial" value="$(arg client_serial)" />
        <param name="interval" value="$(arg interval_3)" />
    </node>

    <!-- air_despatcher node -->
    <node pkg="despatcher" type="air_despatcher.py" name="air_despatcher"
    respawn="true" respawn_delay="3" output="$(arg log_output)">
        <param name="interval_1" value="$(arg interval_1)" />
        <param name="interval_2" value="$(arg interval_2)" />
    </node>

</launch>
