<!-- launch file for Yonah's Iridium Short-Burst-Data (SBD) service (for testing purposes)-->

<launch>

    <!-- screen = output to roslaunch screen for debug; log = log to rosout-->
    <arg name="log_output" default="screen"/>

    <!-- Credentials FIle. Eventually to be moved to despatcher node-->
    <arg name="credentials" default="$(find sbd)/src/login.txt"/>

    <!-- Sleep interval between checks for MO msg -->
    <arg name="interval_3" default="5"/>

    <!-- sbd link node -->
    <node pkg="sbd" type="sbd_gnd_link.py" name="sbd_gnd_link"
    respawn="true" respawn_delay="3" output="$(arg log_output)">
        <param name="interval" value="$(arg interval_3)" />
        <param name="credentials" value="$(arg credentials)" />
    </node>

    <!-- ground_despatcher node -->
    <node pkg="despatcher" type="gnd_despatcher.py" name="gnd_despatcher"
    respawn="true" respawn_delay="3" output="$(arg log_output)">
    </node>

    <!-- ground test node -->
    <node pkg="despatcher" type="gndtest.py" name="gnd_test"
    respawn="true" respawn_delay="3" output="$(arg log_output)">
    </node>

</launch>
