<!-- launch file for Yonah OUTGOING SMS telemetry on Bone-->

<launch>

    <arg name="GCS_no" default="+6512345678" /> <!-- please fill in the ground router's number-->

    <node pkg="air_sms" type="SMS_rx.py" name="SMS_rx"
    respawn="true", respawn_delay="3">
        <param name="GCS_no" value="$(arg GCS_no)" />
    </node>

</launch>